@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
.fondo {
    background-color: #FFFFFF;

}
.barra{
    background-color: #FFFFFF;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
.cuerpo{
    background-color: #111111;
    color: #FFFFFF;
    border-radius: 20px;
}
.btndet{
    background-color: #06BCC1;
    border-color:#06BCC1 ;
    color: #272D2D;
    margin-left:75px;
    margin-bottom: 5px;
    border-radius: 50px;
    width: 95px;
    height: 40px;
}
.logo{
    margin-right: 5px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
    color: #598392;

}
.greeting{
    background-color: #C5D8D1;
    display:inline;
    padding: 10px 10px 0px 10px;
    border-radius: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
    color: black;

}
.item{
    border-radius: 50px;
    Background-color: transparent;
    border-color: transparent;
    margin-bottom: 10px;
}

#dropdown-basic-button{
    background-color: #F4EDEA;
    border-color:#F4EDEA ;
    color: #272D2D;
}
.categoria{
    background-color: #F4EDEA;
    border-color:#F4EDEA ;
    color: #272D2D;
}
.itemdet{
    background-color: #272D2D;
    color: white;
    border-radius: 30px;
    margin-top: 60px;
    margin-left: 10px;
    display:inline-block;
}
.contador{
    margin-left: 70px;
}
.btncon{
    background-color: #272D2D;
    border-color:#272D2D;
    margin-right: 15px;
}
.btncon2{
    background-color: #272D2D;
    border-color:#272D2D;

    margin-left: 15px;
}
.titprod{
    padding-left: 13px;
}
.conext{
    padding-left: 30px;
}
.agregados{
    background-color: #C5D8D1;
    display: inline;
    padding: 5px;
    border-radius: 5px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 35px;
    color: black;
    margin: 20px
}
.im{
    height:600px;
    filter: brightness(50%);
}

.btnnav{
    padding: 0 5px 0 5px;
    margin: 3px 15px 0 15px;
    background-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;

}
.cate{
    border-radius: 60px;
    padding: 3px 20px 3px 20px;
}